
  @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Poppins:wght@100;300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Handjet', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 215, 114);
    color: white;

}

/*cabeçalho*/

#header{
    width: 100%;
    height: 100vh;
    background-image: url();
    background-size: cover;
    background-position: center;
}

.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: calc(100svw - 20px)
}

nav > ul {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

nav ul li{
    display: inline-block;
    list-style: none;

}

nav ul li a{
    color: #21085c;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(17, 25, 92);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

/*boas-vindas*/

.header-text{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 100px;
    align-items: center;
    width: calc(100svw - 100px);
    font-size: 40px;
    margin-top:60px;
}

.header-text >img{
    width: 500px;
}

.header-text > div {
    padding-left: 120px;
}
.header-text h1{
    font-size: 50px;

}


.header-text p{
    color: rgb(12, 24, 94);
    font-size: 50px;

}


/*sobre*/


#sobre{
    background-color: #21085c;
    
}

.sobre2 h1{
    margin-top: 70px;
    padding: 10px 0px 0px 0px;
    color: rgb(243, 198, 74);
}

.sobre2 p{
    color: rgb(255, 255, 255);

}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sobre1{
    flex-basis: 35%;
}

.sobre1 > img{
    padding: 60px 0;
    width: 150%;
    border-radius: 15px;
    
}

.sobre2{
    flex-basis: 50%;
}

#sub-title{
    justify-content: center;
    font-size: 70px;
    font-weight: 700;
    color: rgb(233, 215, 114);
}

.tab-titles{
    display: flex;
    margin:20px 0 40px;
     
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(233, 215, 114);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}


.tab-contents ul li{
    list-style:none;
    margin:10px 0;

}

.tab-contents ul li span{
    color: yellow;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/*cardapios*/

#cardapios{
    padding: 100px 0;

}

h1{
    text-align: center;
}

.cardapios-lista{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    

}

.cardapios-lista div{
    background: #1f045ee9;
    padding: 40px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    height: 300px;
}

.cardapios-lista a{
    color: rgb(224, 231, 25);
}


#banner{
    display: block;
    width: 0px;
    float: left;
    
    
}